<%= simple_form_for(product) do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :category, collection: Product::CATEGORIES %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }  %>

  <div class="actions d-flex justify-content-center"">
    <%= f.button :submit, class: "btn btn-default btn-primary text-white my-2" %>
  </div>
<% end %>
