

<div class="container ">
  <h2 class="text-center text-capitalize mt-4"><%= @product.name %></h2>
  <div class="row justify-content-center">
    <div class="col-6 col-lg-4">
      <div class="product-details-card pt-4">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @product.photos.each_with_index do |photo, index| %>
              <% if index < 1  %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key, class: "d-block w-100 h-75" %>
                </div>
              <% else %>
                <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100 h-75" %>
                </div>
              <% end %>
            <% end %>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="row">
            <div class="col-5 text-capitalize">
              <h4 class="mb-4 text-center">Information</h3>
              <p>
                <strong>Description:</strong>
                <%= @product.description %>
              </p>
              <p>
                <strong>Price:</strong>
                R$<%= @product.price %>
              </p>
              <p>
                <strong>Category:</strong>
                <%= @product.category %>
              </p>
              <p>
                <strong>Renter:</strong>
                <%= @product.user.username %>
              </p>
              <% if current_user == @product.user  %>
                <%= link_to 'Edit', edit_product_path(@product) %> |
              <% end %>
              <%= link_to 'Back', products_path %>
              </div>
              <% unless current_user == @product.user %>
                <div class="col-7">
                  <h4 class="mb-4">Rent this <%= @product.category %></h4>
                  <%= simple_form_for [@product, @rental] do |f| %>
                    <%= f.input :start_date %>
                    <%= f.input :end_date %>
                    <%= f.button :submit, "Rent this item", class: "btn btn-default btn-primary text-white" %>
                  <% end %>
                </div>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>
