


<div class="container product-details-card">
  <div class="row mt-4">
    <h2 class="text-center"><%= @product.name %></h2>
  </div>
  <div class="row justify-content-center">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @product.photos.first.key, class: "d-block w-100" %>
        </div>
        <% @product.photos[1..].each do |photo| %>
          <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "d-block w-100" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-5">
      <h4 class="mb-4">Information</h3>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <p>
        <strong>Price:</strong>
        R$<%= @product.price %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= @product.category %>
      </p>
      <p>
        <strong>Renter:</strong>
        <%= @product.user.username %>
      </p>
      <% if current_user == @product.user  %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <% end %>
      <%= link_to 'Back', products_path %>
    </div>
    <% unless current_user == @product.user %>
      <div data-controller="rentals-calendar" class="col-7">
        <h4 class="mb-4">Rent this product</h4>
        <%= simple_form_for [@product, @rental] do |f| %>
          <%= f.input :start_date, as: :string, input_html:
            {
              "data-rentals-calendar-target" => "startDate"
            }
          %>
          <%= f.input :end_date, as: :string, input_html:
            {
              "data-rentals-calendar-target" => "endDate"
            }
          %>
          <%= f.button :submit, "Rent this item", class: "btn btn-default btn-primary text-white" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
